// abstracts
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

// base
@use 'base/reset';
@use 'base/typography';

// components
@use 'components/buttons';
@use 'components/inputs';
@use 'components/cards';
@use 'components/modal';
@use 'components/pagination';
@use 'components/loader';

// layout
@use 'layout/header';
@use 'layout/footer';
@use 'layout/grid';

// pages
@use 'pages/login';
@use 'pages/awards';
@use 'pages/alliances';
@use 'pages/home';
