@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'base/reset';
@import 'base/typography';
@import 'components/buttons';
@import 'components/inputs';
@import 'components/cards';
@import 'components/modal';
@import 'components/pagination';
@import 'components/loader';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/grid';
@import 'pages/login';
@import 'pages/premios';
@import 'pages/alianzas';
