@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (min-width: $breakpoint-mobile) { @content; }
  }
  @else if $breakpoint == tablet {
    @media (min-width: $breakpoint-tablet) { @content; }
  }
  @else if $breakpoint == desktop {
    @media (min-width: $breakpoint-desktop) { @content; }
  }
  @else if $breakpoint == wide {
    @media (min-width: $breakpoint-wide) { @content; }
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin line-clamp($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
